[submodule "4._Case_Study/macaulay2016"]
	path = 4._Case_Study/macaulay2016
	url = https://github.com/YeoLab/spectrum-of-differentiation-supplements

[submodule "1._Introduction+Dealing_with_technical_noise/combat_py"]
	path = 1._Introduction+Dealing_with_technical_noise/combat_py
	url = https://github.com/brentp/combat.py
